# Google Service Account Credentials
GOOGLE_CLIENT_EMAIL=your-service-account@project.iam.gserviceaccount.com
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\n...\n-----END PRIVATE KEY-----\n"

# Optional: Parent folder ID in Google Drive where application folders will be created
GOOGLE_DRIVE_PARENT_FOLDER_ID=
